################################################################################
# Copyright (C) 2012 Trenz Electronic
# 
# Permission is hereby granted, free of charge, to any person obtaining a 
# copy of this software and associated documentation files (the "Software"), 
# to deal in the Software without restriction, including without limitation 
# the rights to use, copy, modify, merge, publish, distribute, sublicense, 
# and/or sell copies of the Software, and to permit persons to whom the 
# Software is furnished to do so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included 
# in all copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS 
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING 
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS 
# IN THE SOFTWARE.
################################################################################

NET sys_clk_pin LOC=AA12 | IOSTANDARD = LVCMOS33;
NET sys_rst_pin LOC=R7   | IOSTANDARD = LVCMOS33 | PULLDOWN | TIG;#PB

## System level constraints
NET sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 10000 ps;

NET sys_bus_reset TIG;
NET sys_periph_reset TIG;

## IO Devices constraints

#### Module RS232 constraints 

# J1 at TE0304
NET fpga_0_RS232_RX_pin 			LOC=Y7   | IOSTANDARD = LVCMOS33 | PULLUP;
NET fpga_0_RS232_TX_pin 			LOC=AB7  | IOSTANDARD = LVCMOS33;

#### Module LED constraints
NET fpga_0_LED_GPIO_d_out_pin<0> LOC=K8   | IOSTANDARD = LVCMOS33;
NET fpga_0_LED_GPIO_d_out_pin<1> LOC=F2   | IOSTANDARD = LVCMOS33;
NET fpga_0_LED_GPIO_d_out_pin<2> LOC=F1   | IOSTANDARD = LVCMOS33;
NET fpga_0_LED_GPIO_d_out_pin<3> LOC=J4   | IOSTANDARD = LVCMOS33;

#### Module GPIO INPUTS (2x Switch, 4x Assembly Variant, 4x Board Revision)
NET fpga_0_LED_GPIO2_IO_I_pin<0> LOC=AB21 | IOSTANDARD = LVCMOS33 | PULLUP;#S1C
NET fpga_0_LED_GPIO2_IO_I_pin<1> LOC=AA22 | IOSTANDARD = LVCMOS33 | PULLUP;#S1D
NET fpga_0_LED_GPIO2_IO_I_pin<2> LOC=Y20  | IOSTANDARD = LVCMOS33 | PULLUP;#AV0
NET fpga_0_LED_GPIO2_IO_I_pin<3> LOC=R15  | IOSTANDARD = LVCMOS33 | PULLUP;#AV1
NET fpga_0_LED_GPIO2_IO_I_pin<4> LOC=R16  | IOSTANDARD = LVCMOS33 | PULLUP;#AV2
NET fpga_0_LED_GPIO2_IO_I_pin<5> LOC=R17  | IOSTANDARD = LVCMOS33 | PULLUP;#AV3
NET fpga_0_LED_GPIO2_IO_I_pin<6> LOC=R19  | IOSTANDARD = LVCMOS33 | PULLUP;#BR0
NET fpga_0_LED_GPIO2_IO_I_pin<7> LOC=V19  | IOSTANDARD = LVCMOS33 | PULLUP;#BR1
NET fpga_0_LED_GPIO2_IO_I_pin<8> LOC=V20  | IOSTANDARD = LVCMOS33 | PULLUP;#BR2
NET fpga_0_LED_GPIO2_IO_I_pin<9> LOC=T17  | IOSTANDARD = LVCMOS33 | PULLUP;#BR3

#### Module SPI_FLASH constraints
NET fpga_0_SPI_FLASH_MISO_pin 	LOC=Y17  | IOSTANDARD = LVCMOS33;
NET fpga_0_SPI_FLASH_MOSI_pin 	LOC=AB17 | IOSTANDARD = LVCMOS33;
NET fpga_0_SPI_FLASH_SCK_pin 		LOC=W17  | IOSTANDARD = LVCMOS33;
NET fpga_0_SPI_FLASH_SS_pin<0> 	LOC=AB5  | IOSTANDARD = LVCMOS33;

#================================================
# EZ-USB FX2 Interface
#================================================
NET USB_IFCLK_pin TNM_NET = USB_IFCLK_pin;
TIMESPEC TS_USB_IFCLK_pin = PERIOD USB_IFCLK_pin 20833 ps;

# FX2 timing constrains
NET "USB_FD_pin<*>" 			OFFSET =  IN   9 ns BEFORE "USB_IFCLK_pin" RISING;
NET "USB_FLAGB_pin" 			OFFSET =  IN  10 ns BEFORE "USB_IFCLK_pin" RISING;
NET "USB_FLAGD_pin" 			OFFSET =  IN  10 ns BEFORE "USB_IFCLK_pin" RISING;
NET "USB_SLWR_pin" 			OFFSET = OUT   9 ns AFTER  "USB_IFCLK_pin" RISING;
# USB_SLRD_pin drived from flip-flop in OPAD, so there is maximum that you can get from this device
NET "USB_SLRD_pin" 			OFFSET = OUT 7.4 ns AFTER  "USB_IFCLK_pin" RISING;	# If you don't use DCM
#NET "USB_SLRD_pin" 			OFFSET = OUT 5.7 ns AFTER  "USB_IFCLK_pin" RISING;	# If you use DCM
NET "USB_SLOE_pin" 			OFFSET = OUT   9 ns AFTER  "USB_IFCLK_pin" RISING;
NET "USB_PKTEND_pin" 		OFFSET = OUT   9 ns AFTER  "USB_IFCLK_pin" RISING;
#NET "USB_FIFOADR_pin<*>" 	OFFSET = OUT   9.5 ns AFTER  "USB_IFCLK_pin" RISING;
TIMESPEC TS_B2P = FROM RAMS TO PADS 10 ns;

# I2C Interface
NET USB_SCL_pin        		LOC = H3 | IOSTANDARD = LVCMOS33;
NET USB_SDA_pin        		LOC = H4 | IOSTANDARD = LVCMOS33;
NET USB_INT0_pin        	LOC = D1 | IOSTANDARD = LVCMOS33;
# Slave FIFO Interface
NET USB_IFCLK_pin        	LOC = N4 | IOSTANDARD = LVCMOS33;
NET USB_SLRD_pin         	LOC = M4 | IOSTANDARD = LVCMOS33;
NET USB_SLWR_pin         	LOC = M3 | IOSTANDARD = LVCMOS33;
NET USB_FLAGA_pin        	LOC = F3 | IOSTANDARD = LVCMOS33;
NET USB_FLAGB_pin        	LOC = E1 | IOSTANDARD = LVCMOS33;
NET USB_FLAGC_pin        	LOC = E3 | IOSTANDARD = LVCMOS33;
NET USB_FLAGD_pin        	LOC = A2 | IOSTANDARD = LVCMOS33;
NET USB_SLOE_pin        	LOC = C1 | IOSTANDARD = LVCMOS33;
NET USB_PKTEND_pin        	LOC = B2 | IOSTANDARD = LVCMOS33;
NET USB_FIFOADR_pin<0>    	LOC = B1 | IOSTANDARD = LVCMOS33;
NET USB_FIFOADR_pin<1>    	LOC = C3 | IOSTANDARD = LVCMOS33;

#NET USB_INT1_pin        	LOC = D2 | IOSTANDARD = LVCMOS33;
#NET USB_WU2_PA3_pin     	LOC = E4 | IOSTANDARD = LVCMOS33;

NET USB_FD_pin<0>        	LOC = J6 | IOSTANDARD = LVCMOS33;
NET USB_FD_pin<1>        	LOC = H8 | IOSTANDARD = LVCMOS33;
NET USB_FD_pin<2>        	LOC = H5 | IOSTANDARD = LVCMOS33;
NET USB_FD_pin<3>        	LOC = H6 | IOSTANDARD = LVCMOS33;
NET USB_FD_pin<4>        	LOC = G7 | IOSTANDARD = LVCMOS33;
NET USB_FD_pin<5>        	LOC = G8 | IOSTANDARD = LVCMOS33;
NET USB_FD_pin<6>        	LOC = F8 | IOSTANDARD = LVCMOS33;
NET USB_FD_pin<7>        	LOC = A3 | IOSTANDARD = LVCMOS33;

#### Module DDR_SDRAM constraints 
#NET "DDR3_SDRAM/mpmc_core_0/gen_spartan6_mcb.s6_phy_top_if/mpmc_mcb_raw_wrapper_0/selfrefresh_mcb_mode" TIG;

#########################################################################
# TIG synchronizer signals                                              #
#########################################################################
#INST "DDR3_SDRAM/mpmc_core_0/gen_spartan6_mcb.s6_phy_top_if/uo_done_cal_d1*" TNM="TNM_TIG_DDR3_SDRAM_S6_DONE_CAL_SYNCH";
#TIMESPEC "TS_TIG_DDR3_SDRAM_S6_DONE_CAL_SYNCH" = FROM FFS TO "TNM_TIG_DDR3_SDRAM_S6_DONE_CAL_SYNCH" TIG;

#INST "DDR3_SDRAM/mpmc_core_0/gen_spartan6_mcb.s6_phy_top_if/rst_d1*" TNM="TNM_TIG_DDR3_SDRAM_S6_SYS_RST_SYNCH";
#TIMESPEC "TS_TIG_DDR3_SDRAM_S6_SYS_RST_SYNCH" = FROM FFS TO "TNM_TIG_DDR3_SDRAM_S6_SYS_RST_SYNCH" TIG;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[0]" LOC = B21 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[1]" LOC = B22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[2]" LOC = C22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[3]" LOC = J21 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[4]" LOC = D22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[5]" LOC = L17 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[6]" LOC = K17 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[7]" LOC = C20 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[8]" LOC = G20 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[9]" LOC = G22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[10]" LOC = D21 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[11]" LOC = H20 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_addr_pin[12]" LOC = E22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_ba_pin[0]" LOC = K18 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_ba_pin[1]" LOC = K19 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_ba_pin[2]" LOC = H22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_ras_n_pin" LOC = M18 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_cas_n_pin" LOC = M19 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_we_n_pin" LOC = H21 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_cke_pin" LOC = E20 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_clk_pin" LOC = J17 | IOSTANDARD = DIFF_SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_clk_n_pin" LOC = J19 | IOSTANDARD = DIFF_SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[0]" LOC = N20 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[1]" LOC = N22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[2]" LOC = N19 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[3]" LOC = M20 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[4]" LOC = L20 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[5]" LOC = L22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[6]" LOC = K21 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[7]" LOC = K22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[8]" LOC = P21 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[9]" LOC = P22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[10]" LOC = R20 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[11]" LOC = R22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[12]" LOC = U20 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[13]" LOC = U22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[14]" LOC = V21 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dq_pin[15]" LOC = V22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dqs_pin" LOC = M21 | IOSTANDARD = DIFF_SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_ldm_pin" LOC = K20 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_dqs_n_pin" LOC = M22 | IOSTANDARD = DIFF_SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_udqs_pin" LOC = T21 | IOSTANDARD = DIFF_SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_udqs_n_pin" LOC = T22 | IOSTANDARD = DIFF_SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_udm_pin" LOC = L19 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_odt_pin" LOC = J22 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_mcbx_dram_rst_pin" LOC = H19 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_rzq_pin" LOC = F15 | IOSTANDARD = SSTL15_II;
#NET "fpga_0_MCB1_zio_pin" LOC = F13 | IOSTANDARD = SSTL15_II;
