################################################################################
# Copyright (C) 2012 Trenz Electronic
# 
# Permission is hereby granted, free of charge, to any person obtaining a 
# copy of this software and associated documentation files (the "Software"), 
# to deal in the Software without restriction, including without limitation 
# the rights to use, copy, modify, merge, publish, distribute, sublicense, 
# and/or sell copies of the Software, and to permit persons to whom the 
# Software is furnished to do so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included 
# in all copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS 
# OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING 
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS 
# IN THE SOFTWARE.
################################################################################

NET sys_clk_pin		LOC=AA12	| IOSTANDARD = LVCMOS33;
NET sys_rst_pin 	LOC=R7		| IOSTANDARD = LVCMOS33 | PULLDOWN | TIG;

## System level constraints
NET sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 10000 ps;

#### Module RS232 constraints 

# J1 at TE0304
NET RS232_RX				 LOC=Y7	| IOSTANDARD = LVCMOS33 | PULLUP;
NET RS232_TX				 LOC=AB7	| IOSTANDARD = LVCMOS33;

#### Module LED constraints
NET LED<0> 		LOC=K8	| IOSTANDARD = LVCMOS33;
NET LED<1> 		LOC=F2	| IOSTANDARD = LVCMOS33;
NET LED<2> 		LOC=F1	| IOSTANDARD = LVCMOS33;
NET LED<3> 		LOC=J4	| IOSTANDARD = LVCMOS33;

#### Module GPIO INPUTS (2x Switch, 4x Assembly Variant, 4x Board Revision) constraints
#NET fpga_0_LED_GPIO2_IO_I_pin<0> LOC=AB21	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET fpga_0_LED_GPIO2_IO_I_pin<1> LOC=AA22	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET fpga_0_LED_GPIO2_IO_I_pin<2> LOC=Y20	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET fpga_0_LED_GPIO2_IO_I_pin<3> LOC=R15	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET fpga_0_LED_GPIO2_IO_I_pin<4> LOC=R16	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET fpga_0_LED_GPIO2_IO_I_pin<5> LOC=R17	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET fpga_0_LED_GPIO2_IO_I_pin<6> LOC=R19	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET fpga_0_LED_GPIO2_IO_I_pin<7> LOC=V19	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET fpga_0_LED_GPIO2_IO_I_pin<8> LOC=V20	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET fpga_0_LED_GPIO2_IO_I_pin<9> LOC=T17	| IOSTANDARD = LVCMOS33 | PULLUP;

#SPI_FLASH constraints
NET SPI_FLASH_MISO				LOC=Y17		| IOSTANDARD = LVCMOS33;
NET SPI_FLASH_MOSI	 			LOC=AB17	| IOSTANDARD = LVCMOS33;
NET SPI_FLASH_SCK	 			LOC=W17		| IOSTANDARD = LVCMOS33;
NET SPI_FLASH_SS			 	LOC=AB5		| IOSTANDARD = LVCMOS33;

# I2C connections
NET I2C_SCL	        			LOC = H3	| IOSTANDARD = LVCMOS33;
NET I2C_SDA	        			LOC = H4	| IOSTANDARD = LVCMOS33;
#================================================
# EZ-USB FX2 Interface
#================================================
#NET USB_IFCLK_pin TNM_NET = USB_IFCLK_pin;
#TIMESPEC TS_USB_IFCLK_pin = PERIOD USB_IFCLK_pin 20833 ps;

# FX2 timing constrains
#NET "USB_FD_pin<*>" 		OFFSET =  IN   9 ns BEFORE "USB_IFCLK_pin" RISING;
#TIMESPEC TS_B2P = FROM RAMS TO PADS 10 ns;
#NET "USB_FLAGB_pin" 		OFFSET =  IN  10 ns BEFORE "USB_IFCLK_pin" RISING;
#NET "USB_FLAGD_pin" 		OFFSET =  IN  10 ns BEFORE "USB_IFCLK_pin" RISING;
#NET "USB_SLWR_pin" 			OFFSET = OUT   9 ns AFTER  "USB_IFCLK_pin" RISING;
# USB_SLRD_pin drived from flip-flop in OPAD, so there is maximum that you can get from this device
#NET "USB_SLRD_pin" 			OFFSET = OUT 7.4 ns AFTER  "USB_IFCLK_pin" RISING;	# If you don't use DCM
##NET "USB_SLRD_pin" 		OFFSET = OUT 5.7 ns AFTER  "USB_IFCLK_pin" RISING;	# If you use DCM
#NET "USB_SLOE_pin" 			OFFSET = OUT   9 ns AFTER  "USB_IFCLK_pin" RISING;
#NET "USB_PKTEND_pin" 		OFFSET = OUT   9 ns AFTER  "USB_IFCLK_pin" RISING;
#NET "USB_FIFOADR_pin<*>" 	OFFSET = OUT   9.5 ns AFTER  "USB_IFCLK_pin" RISING;

# FX2 connections
#NET USB_INT0_pin        	LOC = D1	| IOSTANDARD = LVCMOS33;
#NET USB_IFCLK_pin        	LOC = N4	| IOSTANDARD = LVCMOS33;
#NET USB_SLRD_pin         	LOC = M4	| IOSTANDARD = LVCMOS33;
#NET USB_SLWR_pin         	LOC = M3	| IOSTANDARD = LVCMOS33;
#NET USB_FLAGA_pin        	LOC = F3	| IOSTANDARD = LVCMOS33;
#NET USB_FLAGB_pin        	LOC = E1	| IOSTANDARD = LVCMOS33;
#NET USB_FLAGC_pin        	LOC = E3	| IOSTANDARD = LVCMOS33;
#NET USB_FLAGD_pin        	LOC = A2	| IOSTANDARD = LVCMOS33;
#NET USB_SLOE_pin        	LOC = C1	| IOSTANDARD = LVCMOS33;
#NET USB_PKTEND_pin			LOC = B2	| IOSTANDARD = LVCMOS33;
#NET USB_FIFOADR_pin<0>		LOC = B1	| IOSTANDARD = LVCMOS33;
#NET USB_FIFOADR_pin<1>		LOC = C3	| IOSTANDARD = LVCMOS33;

#NET  USB_FD_pin<0>        	LOC = J6	| IOSTANDARD = LVCMOS33;
#NET  USB_FD_pin<1>        	LOC = H8	| IOSTANDARD = LVCMOS33;
#NET  USB_FD_pin<2>        	LOC = H5	| IOSTANDARD = LVCMOS33;
#NET  USB_FD_pin<3>        	LOC = H6	| IOSTANDARD = LVCMOS33;
#NET  USB_FD_pin<4>        	LOC = G7	| IOSTANDARD = LVCMOS33;
#NET  USB_FD_pin<5>        	LOC = G8	| IOSTANDARD = LVCMOS33;
#NET  USB_FD_pin<6>        	LOC = F8	| IOSTANDARD = LVCMOS33;
#NET  USB_FD_pin<7>        	LOC = A3	| IOSTANDARD = LVCMOS33;
